.size {
  text-align: right;
  .file {
    float: left; // margin-top: 16px;
    .upload {
      display: inline-block;
      border: 1px #ccc dashed;
      padding: 0 12px;
      cursor: pointer;
      height: 32px;
      line-height: 32px;
      border-radius: 4px;
      margin-right: 16px;
      background-color: rgba(204, 204, 204, 0.7);
      .uploadInput {
        display: none;
      }
    }
  }
  .sizeInfo {
    cursor: pointer;
  }
}

.adjustSize {
  width: 320px;
  .sizeItem {
    line-height: 36px;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
    &>* {
      display: inline-block;
    }
    .slider {}
    .input {
      margin-left: 8px;
    }
  }
}