.images{
    display: flex;
    flex-wrap:wrap;
    justify-content: flex-start;
  background-color: #ffffff;
  padding:24px;
    .image{
      margin-right:16px;
      margin-bottom: 12px;
      .imageCanvas{
      }
    }
}